<div id="aboutwrap">
<p>
Street Fighter V's random select function isn't great. If you feel like
you're not getting a good mix of characters for your random 
select shot matches, you can use this web app instead! Choose 
which characters you want to go into the selection and afterwards 
you can still pick your costumes and colors. 
</p>
<p>Built by: </p>
<p>Jim Pollaro: <a href="https://github.com/pollaro" target="_blank">Jim's GitHub</a></p>
<p>Keith Lee: <a href="https://github.com/kwlee1" target="_blank">Keith's GitHub</a></p>
<p>Tweet at Keith if you have any suggestions: <a href="https://twitter.com/stopsignn" target="_blank">Keith's Twitter</a></p>
</div>
