<div id="aboutwrap">
<p>
Version 1.0 launched Dec 12, 2017. 
</p>
<p>
Street Fighter V's random select function isn't great. If you feel like
you're not getting a good mix of characters you can try this web app instead. 
This will also let you choose your costumes instead of just getting
 default every time. We included character selection 
 (in case you don't have all the DLC characters 
or want to include bans) and a toggle to avoid mirror matches. 
</p>
<p>Built by: </p>
<p>Jim Pollaro: <a href="https://github.com/pollaro" target="_blank">Jim's GitHub</a></p>
<p>Keith Lee: <a href="https://github.com/kwlee1" target="_blank">Keith's GitHub</a></p>
<p>Tweet at Keith if you have any suggestions: <a href="https://twitter.com/stopsignn" target="_blank">Keith's Twitter</a></p>
</div>
