.charselect{
    display:inline-block; 
    margin: 2px; 
    
}

.charselect img{
    display: block; 
}

*{
    font-family: Impact, Charcoal, sans-serif;
}

.names{
    display: inline-block; 
    margin: 1px; 
    color: #fd4700; 
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}